body {
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
}

.navbar a:hover {
        background: #ddd;
        color: black;
}



.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}



* {
    box-sizing: border-box;
}

.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}
.example {
    padding: 50px;
    margin: auto;
    width: 55%;
    overflow: hidden;
    position: center;
}
.example .button {
   float: left;
   width: 15%;
   padding: 10px;
   background: #333;
   color: white;
   font-size: 17px;
   border: 1px solid grey;
   border-left: none;
   cursor: pointer;
}


.example .button:hover {
    background: #ddd;
    color: black;
}

.example::after {
    content: "";
    clear: both;
    display: table;
}

.parent {
  
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 24%;
    max-width: 50%;
    margin: auto;
    margin-bottom:10px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card .button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
     opacity: 0.7;

}

 .panelwidth{
     width:100%;
 }
.buttondropdown {
    float: left;
    margin: 1px;
    padding: 10px;
    background: #333;
    color: white;
    cursor: pointer;
    border: none;
    outline: 0;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    height:41px;
}
.buttonwidth {
    width: 68%;
}
.ddlwidth {
    width: 30%;
}
.ridge {
    border-style: ridge;
    max-width:33%;
    padding:1em;
    min-width:237px;
}
.itemDetails{
    padding:3px;
}
.orderPicture{
    width: 100px;
    height: 100px;
}
.orderimg {
    height: 110px;
}
.centerAlign{
    text-align:center;
}
.centerAligns {
    margin-left:auto;
    margin-right: auto;
}
.History{
    margin-left:34%;
    margin-right:0;
}
.inset {
    border-style: inset;
    padding: 1%;
    min-width: 207px;

}
.cartimg {
    height: 185px;
}
.orderItemDetails {
    padding: 3px;
    margin-top:0px;
}
.cartheight{
    height:34px;
    font-size: 13px;
}
.cartItemDetails {
    padding: 13px;
    margin-top: 0px;
}
.checkoutbuttonwidth{
    width:100%;
}
.accountheight {
    height: 540px;
}
.orderhistoryheight {
    min-height: 80px;
}
.orderhistorybuttonwidth{
    width:49%;
}
.textboxdetails {
    width: 100%;
    padding: 7px;
    margin: 0px;
    box-sizing: border-box;
}

/**
    Login/Register Page CSS
*/

.loginform {
    border: 3px solid #f1f1f1;
}
.container {
    padding: 10%;
    padding-top:5%;
}
.loginbutton {
    outline: 0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    background: #333;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    margin-top:2%;
}

.loginbutton:hover {
    opacity: 0.8;
}
.loginform input[type=text], input[type=password], input[type=date], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.loginmain {
    padding: 5%;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 10px;
    height: 1500px; /* Used in this example to enable scrolling */
}
.loginlabel{
    margin-bottom:10%;
}
.registerradio{
    padding:1%;
}